#box {
  border: 2px solid orange;
  height: 200px;
  margin-left: 7%;
  margin-right: 7%;
  padding: 2%;
  margin-bottom: 70px;
}
.nav-item.active a {
  color: #eb8888;
  /* Apply your desired styles for the active link */
}
.container {
  margin-top: 80px;
}
h2 {
  font-size: 35px;
}
h3 {
  margin-top: 20px;
}

.containers {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  /* margin:1%; */
}
.image-container {
  margin: 2%;
}
button {
  border: 40px;
  border-radius: 5px;
  width: 15%;
  margin: 2%;
  padding: 1%;
  border: 4px solid orange;
}
/* button::hover{
    background-color: chocolate;
} */

#button1 {
  background-color: orange;
}
#button2 {
  background-color: white;
}
img {
  max-width: auto;
  height: auto;
  border-radius: 50%;
}
.image-container {
  margin-left: 15%;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-gap: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
}
.container2 {
  /* margin-bottom: 5%; */
  display: flex;
}

.line {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 400px;
  margin-left: 32%;
  border-top: 1px solid gray;
}
@media (max-width: 767px) {
  .line {
    width: 50px;
    margin-left: 10%;
    margin-left: 20%;
  }
  img {
    margin-left: 0;
    max-width: 100%;
    height: auto;
  }
  button {
    font-size: 15px;
  }
}
