@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* variables */
:root {
  --fros-blue-color: #c3e4e9;
  --light-blue-color: #ecc6bb;
  --dark-color: #dbd9d9;
  --light-gray: #dedede;
  --dark-gray: #a1a1a0;
  --light-color: #2d2b2b;
  --poppins-font: "Poppins", sans-serif;
  --transition: all 0.3s ease-in-out;
  --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2) !important;
}

/* some resets */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 1px solid; */
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: var(--poppins-font);
  overflow-x: hidden;
}
.nav-item.active a {
  color: #eb8888;
  /* Apply your desired styles for the active link */
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
.bg-blue {
  background-color: var(--fros-blue-color);
  height: 80px;
  /* border-bottom: #4a4949; */
}
.bg-white {
  background-color: var(--light-color);
}
.btn.btn-light-blue {
  background-color: #e78383;
}
.text-blue {
  color: var(--fros-blue-color);
}
.text-white {
  color: var(--light-color);
}

/* button */
.btn,
button {
  border: none;
  cursor: pointer;
}
.btn {
  padding: 0.9rem 4rem;
  border-radius: 3rem;
  display: inline-block;
  background-color: var(--light-color);
  font-weight: 500;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.btn-white {
  color: var(--fros-blue-color);
}
/* .btn.btn-white{
    color: #ecc6bb;
} */
.btn-light-blue {
  background-color: var(--light-blue-color);
  color: var(--light-color);
}
.btn-blue {
  background-color: var(--fros-blue-color);
  color: var(--light-color);
}
.btn-group {
  /* padding-left: 50px; */
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn-group .btn {
  width: 100%;
}
.btn.btnn-white {
  background-color: #c3e4e9;
  color: #2d2b2b;
}
.btn-group .btn:first-child {
  margin-bottom: 2rem;
}
.btn:hover {
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.grid {
  display: grid;
}
input {
  outline: 0;
}
.lead {
  font-size: 25px;
  text-transform: capitalize;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.3;
}
.text {
  opacity: 0.9;
}
.text-md {
  font-size: 1.6rem;
}
.text-lg {
  font-size: 17px;
  font-weight: 400;
}

.text-sm {
  font-size: 1.3rem;
}
.py {
  padding: 10.9rem 0;
}

.text-center {
  text-align: center;
}

/* header */
.header {
  margin-top: 5vh;
  height: auto;
  width: 100%;
}
.header .container2 {
  padding: 7%;
  display: block;
}
.header .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.6rem 0;
  z-index: 999;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 18px;
  font-weight: bold;
}
.navbar .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand img {
  width: 120px;
}
.navbar-show-btn,
.navbar-hide-btn {
  background-color: transparent;
  width: 30px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
button[class^="navbar"]:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 8rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 1000;
}
/* navbar show class */
.navbar {
  border-bottom: 1px solid rgb(149, 143, 143);
}
.navbar-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navbar-hide-btn {
  position: absolute;
  right: 2rem;
  top: 4.5rem;
}
.nav-item {
  margin: 1.4rem 0;
}
.nav-link {
  opacity: 0.8;
  font-weight: 600;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
}
.nav-link:hover {
  opacity: 1;
  color: var(--fros-blue-color);
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.search-icon {
  display: block;
  width: 27px;
  margin-right: 1rem;
}
.search-control::-webkit-input-placeholder {
  color: var(--light-gray);
}
.search-control::-moz-placeholder {
  color: var(--light-gray);
}
.search-control:-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::placeholder {
  font-size: 12px;
  color: var(--light-gray);
}
.search-control {
  height: 27px;
  width: 100%;
  border-radius: 1.9rem;
  border: 1px solid #e78383;
  padding: 0 1.5rem;
}

/* header inner */
.header-inner {
  /* padding-top: 10rem; */
  margin-top: -30px;
}
.header-inner-left h1 {
  font-weight: 300;
  margin-bottom: 0;
}
.header-inner-left h1 span {
  font-size: 4.5rem;

  font-weight: 550;
  text-transform: uppercase;
  justify-content: center;
}
.header-inner-left .lead {
  opacity: 0.9;
}
.header-inner-left .text {
  margin: 5.8rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.header-inner-left .btn-group {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header-inner-right {
  margin-top: 6rem;
}
.header-inner-right img {
  max-width: 600px;
  margin: 0 auto;
  height: 430px;
  /* margin-top: -50px; */
  padding-bottom: 60px;
}

/* about section */

.section-head h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
.border-line {
  height: 0.4rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--fros-blue-color);
  position: relative;
}
.border-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  width: 102px;
  background-color: var(--light-blue-color);
}

.about {
  padding-top: 0.5rem;
  background-color: #faeeee;
  height: 500px;
}
.about-left {
  margin-bottom: 6rem;
}
.about-right {
  /* margin-top: 16.8rem; */
  height: 400px;
}
.about-left .text {
  margin: 2.6rem 0;
  line-height: 2.3;
  font-size: 16px;
}
.about .btn-white {
  color: var(--dark-gray);
  border-color: 1px solid #f7bcbc;
}
.about-right .img {
  width: 100%;
  /* background-color: #c3e4e9; */
  max-width: 537px;
  height: 490px;
  position: relative;
  /* padding-bottom: 40px; */
}
.about-right .img img {
  /* padding-top: 10rem; */
  -webkit-transform: scaleX(1.03);
  -ms-transform: scaleX(1.03);
  transform: scaleX(1.03);
}
.about-right .img::after,
.about-right .img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 400px;
}
.about-right .img::after {
  top: -56px;
  left: 0;
  /* background-color: #384e71; */
  z-index: -1;
}
.about-right .img::before {
  top: -112px;
  left: 0;
  /* background-color: var(--fros-blue-color); */
  z-index: -2;
}

/* footer */
.footer {
  background-color: var(--fros-blue-color);
}
.footer-item {
  margin-bottom: 0.5rem;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.footer-head {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.footer-item .icon {
  width: 120px;
  margin: auto;
}
.footer-item .text {
  padding: 2rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.footer-item address {
  font-size: 1.5rem;
  font-style: normal;
}
.footer-item .tags-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-item .tags-list li {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  /* background-color: rgb(58, 58, 58); */
  border-radius: 0.4rem;
}
.footer-item a {
  margin-bottom: 1rem;
  display: inline-block;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.footer-item a:hover {
  color: var(--light-blue-color);
}
.footer-item:last-child .text {
  padding-top: 0;
}
.footer-item .appointment-info li {
  margin: 1rem 0;
}
.footer-item .appointment-info li span {
  margin-left: 1rem;
}
.footer-links {
  border-top: 2px solid var(--dark-gray);
  padding: 2.5rem 0;
  margin-top: -100px;
}
.footer-links li {
  margin: 0 2rem;
  font-size: 2rem;
}
.footer-links li a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--light-color);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.footer-links li a:hover {
  background-color: var(--light-color);
  color: var(--fros-blue-color);
}
.smallDiv {
  background-color: rgba(0, 0, 0, 0.68);
  color: white;
  /* padding-top: 5px; */
  text-align: center;
  font-size: 14px;
  height: 30px;
  width: 100%;
}

/* Media Queries */
@media (min-width: 450px) {
  .navbar-collapse {
    width: 320px;
  }
  .btn-group .btn {
    width: auto;
  }
  .btn-group .btn:first-child {
    margin-right: 48px;
    margin-bottom: 0;
  }
  .border-line {
    width: 405px;
  }
  .btn.btn-group {
    padding-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .header {
    margin-top: 8.5vh;
    height: 230;
    width: 100%;
  }
  .section-head h2 {
    margin-top: 10rem;
  }

  .header-inner-right img {
    height: auto;
  }
  .about-left .text {
    margin: 2.6rem 0;
    line-height: 2.3;
    font-size: 10px;
  }
  .about-right .img {
    width: 100%;
    /* background-color: #c3e4e9; */
    max-width: 537px;
    height: 1690px;
    position: relative;
    /* padding-bottom: 40px; */
  }
  .banner-two-right .lead {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
    font-style: normal;
  }
  .smallDiv {
    font-size: 8px;
    height: auto;
    padding-bottom: 5px;
  }
  .doc-panel {
    padding-top: 0.1px;
  }
  .contact {
    padding-top: 0.1px;
  }
}

@media (min-width: 768px) {
  .header {
    margin-top: 5vh;
    height: 250;
    width: 100%;
  }

  .header-inner-left h1 {
    padding-top: 0.5rem;
    font-size: 4.7rem;
  }
  .services-inner,
  .doc-panel-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .doc-panel-inner {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .doc-panel .section-head h2 {
    text-align: left;
  }
  .package-service-inner,
  .posts-inner,
  .footer-inner {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .footer-inner {
    text-align: left;
  }
  .footer-item .icon,
  .footer-item .text {
    margin-left: 0;
  }
  .footer-item .tags-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (min-width: 820px) {
  .header {
    margin-top: 1vh;
    height: auto;
    width: 100%;
  }
  .header-inner {
    padding-top: 3.2rem;
  }
  .header-inner .container {
    grid-template-columns: 545px auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - 32px);
    position: relative;
  }
  .header-inner-left {
    text-align: left;
  }
  .header-inner-left .text {
    margin-left: 0;
  }
  .header-inner-left .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .header-inner-right img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5rem;
  }
  .about-inner .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .about-left {
    text-align: left;
    margin-bottom: 0;
    font-size: 12px;
  }
  .about-left .section-head h2 {
    text-align: left;
  }
  .border-line {
    margin-left: 0;
  }
  .border-line::after {
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .about-right {
    margin-left: auto;
    margin-top: 11.2rem;
  }

  .banner-two .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .banner-two-right {
    text-align: left;
  }
  .banner-two-right .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .banner-two-right .lead {
    margin-top: 0;
  }
  .banner-two-left img {
    width: 100%;
    max-width: 100%;
  }
  .doc-panel-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .doc-panel-item {
    margin-bottom: 0;
  }
  .package-service-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .package-service-item {
    margin-bottom: 0;
  }

  .contact .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2.4rem;
    -moz-column-gap: 2.4rem;
    column-gap: 2.4rem;
  }
}

body {
  padding: 0;
  margin: 0;
}
#box {
  border: 2px solid #eb8888;
  height: auto;
  margin-left: 7%;
  margin-right: 7%;
  padding: 2%;
  margin-bottom: 70px;
}
.boxes .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin:5%; */
}
.boxes .row .bos {
  border: 2px solid #eb8888;
  height: auto;
  width: 420px;
  margin-left: 2%;
  /* margin-right: 7%; */
  padding: 2%;
  margin-bottom: 70px;
}
/* .container {
  margin-top: 80px;
} */
h2 {
  font-size: 35px;
}
h3 {
  margin-top: 20px;
}
.nav-item.active a {
  color: #eb8888;
  /* Apply your desired styles for the active link */
}
.containers {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  /* margin:1%; */
}
.image-container {
  display: flex;
  justify-content: center;
}
.image-container img {
  border-radius: 50%;
  width: 200px;
  margin: 70px;
}
#button1,
#button2 {
  border: 40px;
  border-radius: 5px;
  width: 15%;
  margin: 2%;
  padding: 1%;
  border: 4px solid #eb8888;
}
/* button::hover{
    background-color: chocolate;
} */

#button1 {
  background-color: #eb8888;
}
#button2 {
  background-color: white;
}
img {
  max-width: auto;
  height: auto;
  border-radius: 50%;
}
/* .image-container {
  margin-left: 15%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-gap: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
} */
.container2 {
  /* margin-bottom: 5%; */
  display: flex;
}

.line {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 400px;
  margin-left: 32%;
  border-top: 1px solid gray;
}
@media (max-width: 767px) {
  #line {
    position: center;
    width: 240px;
  }
  .boxes .row {
    display: block;
    justify-content: center;
  }
  h2 {
    padding: 3%;
    font-size: 25px;
  }
  .boxes .row .bos {
    border: 2px solid #eb8888;
    height: auto;
    width: 100%;
    /* margin-left: 2%; */
    /* margin-right: 7%; */
    padding: 6%;
    margin-bottom: 80px;
  }
  .image-container {
    display: flex;
    justify-content: center;
  }
  .image-container img {
    border-radius: 50%;
    width: 140px;
    margin: 3%;
  }

  img {
    margin-left: 0;
    max-width: 100%;
    height: auto;
  }
  button {
    font-size: 13px;
    width: 20%;
    margin: 2%;
    padding: 1%;
  }
}
@media (max-width: 468px) {
  #line {
    position: center;
    width: 150px;
  }
  .boxes .row {
    display: block;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
  }
  h2 {
    font-size: 20px;
  }
  .boxes .row .bos {
    border: 2px solid #eb8888;
    height: 20%;
    width: 100%;
    /* margin-left: 2%; */
    /* margin-right: 7%; */
    padding: 4%;
    margin-bottom: 70px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    margin: 4%;
  }
  .image-container img {
    border-radius: 50%;
    margin: 3%;
    width: 90px;
  }

  img {
    margin-left: 0;
    max-width: 100%;
    height: auto;
  }
  button {
    font-size: 10px;
    width: 25%;
    margin: 2%;
    padding: 1%;
  }
}

@media only screen and (max-width: 360px) {
  /* CSS rules for screens with a maximum width of 360px */
  /* Add your responsive styles here */
  .navbar-brand {
    /* Example style */
    font-size: 14px;
  }
  /* ... */
}
