@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* variables */
:root {
  --fros-blue-color: #c3e4e9;
  --light-blue-color: #ecc6bb;
  --dark-color: #dbd9d9;
  --light-gray: #dedede;
  --dark-gray: #a1a1a0;
  --light-color: #2d2b2b;
  --poppins-font: "Poppins", sans-serif;
  --transition: all 0.3s ease-in-out;
  --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2) !important;
}

.BAA {
  font-size: 25px;
  margin-bottom: -25px;
  margin-top: 30px;
}
/* some resets */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 1px solid; */
}
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: var(--poppins-font);
  overflow-x: hidden;
}
.nav-item.active a {
  color: #eb8888;
  /* Apply your desired styles for the active link */
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
.bg-blue {
  background-color: var(--fros-blue-color);
  height: 80px;
  /* border-bottom: #4a4949; */
}
.bg-white {
  background-color: var(--light-color);
}
.btn.btn-light-blue {
  background-color: #e78383;
}
.text-blue {
  color: var(--fros-blue-color);
}
.text-white {
  color: var(--light-color);
}

/* button */
.btn,
button {
  border: none;
  cursor: pointer;
}
.btn {
  padding: 0.9rem 4rem;
  border-radius: 3rem;
  display: inline-block;
  background-color: var(--light-color);
  font-weight: 500;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.form-control .btn-white {
  color: var(--fros-blue-color);
}
/* .btn.btn-white{
    color: #ecc6bb;
} */
.btn-light-blue {
  background-color: var(--light-blue-color);
  color: var(--light-color);
}
.btn-blue {
  background-color: var(--fros-blue-color);
  color: var(--light-color);
}
.btn-group {
  /* padding-left: 50px; */
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn-group .btn {
  width: 100%;
}
.btn.btnn-white {
  background-color: #c3e4e9;
  color: #2d2b2b;
}
.btn-group .btn:first-child {
  margin-bottom: 2rem;
}
.btn:hover {
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

/* form */
/* body { */
/* font-family: sans-serif; */
/* font-family: 'Times New Roman', Times, serif; */
/* overflow-x: hidden; */
/* border:1px solid; */

/* } */
fieldset {
  border: 2px solid black;
  background-color: whitesmoke;
  padding: 20px 20px;
}

h4 {
  /* font-family: 'Times New Roman', Times, serif; */
  text-align: center;
  font-weight: bold;
}
h5 {
  /* font-family: 'Times New Roman', Times, serif; */
  font-weight: bold;
}
/* 
    .form-control{
      font-family: 'Times New Roman', Times, serif;
    }
    .form-group{
      font-family: 'Times New Roman', Times, serif;
    } */

#phonenumber,
#firstname,
#lastname,
#name,
#male,
#female,
#email,
#date_time,
#preferabledate,
#place,
#message {
  background-color: #eaf8fb;
}
#cid {
  background-color: #eaf8fb;
}
.row.form-action-buttons {
  margin-right: 1000px;
}

.btn {
  width: 100px;
  height: 33px;
  border: none;
  /* font-family: 'Times New Roman', Times, serif; */
  border-radius: 50px;
  background: #4a77a0;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin: 10px 0;
  /* text-transform: uppercase; */
  cursor: pointer;
  margin-top: 40px;
  transition: 600ms;
  /* margin-right: 50px; */
  /* margin-left: -70px; */
}

.btn a {
  /* font-family: 'Times New Roman', Times, serif; */
  color: #ffffff; /* set the link text color to white */
  text-decoration: none; /* remove the underline */
}

@media (min-width: 620px) {
  .row.form-action-buttons {
    margin-left: 190px;
  }
}

@media (min-width: 700px) {
  .row.form-action-buttons {
    margin-left: 70px;
  }
}

@media (min-width: 300px) {
  .row.form-action-buttons {
    margin-right: 40px;
  }
}
@media (min-width: 400px) {
  .row.form-action-buttons {
    margin-right: 120px;
  }
}
@media (min-width: 1000px) {
  .row.form-action-buttons {
    margin-left: 160px; /* Adjust this value to move it a bit more to the left */
  }
}
.form-roww {
  padding-left: 500px;
}

.form-check-label {
  margin-left: 70px;
}

.form-check-labell {
  margin-left: 17px;
}

/* footer */
.footer {
  background-color: #a0d7e2;
}
.footer-item {
  margin-bottom: 1rem;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.footer-head {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.footer-item .icon {
  width: 120px;
  margin: auto;
}
.footer-item .text {
  padding: 2rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.footer-item address {
  font-size: 1.5rem;
  font-style: normal;
}
.footer-item .tags-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-item .tags-list li {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  /* background-color: rgb(58, 58, 58); */
  border-radius: 0.4rem;
}
/* .footer-item a{
      margin-bottom: 1rem;
      display: inline-block;
      -webkit-transition: var(--transition);
      -o-transition: var(--transition);
      transition: var(--transition);
    } */
/* .footer-item a:hover{
      color: var(--light-blue-color);
    } */
.footer-item:last-child .text {
  padding-top: 0;
}
.footer-item .appointment-info li {
  margin: 1rem 0;
}
.footer-item .appointment-info li span {
  margin-left: 1rem;
}
.footer-links {
  border-top: 2px solid rgb(187, 184, 184);
  padding: 4.5rem 0;
}
.footer-links li {
  margin: 0 2rem;
  font-size: 2rem;
}
.footer-links li a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid grey;
  transition: 0.07s;
  /* -o-transition: var(--transition); */
  /* transition: var(--transition); */
}
.footer-links li a:hover {
  background-color: rgb(162, 159, 159);
  color: #c3e4e9;
}
.smallDiv {
  background-color: rgba(0, 0, 0, 0.68);
  color: white;
  padding-top: 5px;
  text-align: center;
  font-size: 14px;
  height: 30px;
  width: 100%;
}
.required-indicator {
  color: red;
  /* margin-left: 5px; */
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.alert img {
  animation: scale 1s ease-in-out;
}

/* set height to 600px for screens larger than 768px */
@media (min-width: 768px) {
  .carousel-item img {
    height: 600px;
  }
}

/* set height to 300px for screens smaller than 768px */
@media (max-width: 767px) {
  .btn {
    margin-left: 60px;
  }
}

label.validation-error {
  color: rgb(248, 45, 5);
}
a {
  cursor: pointer;
  color: rgb(63, 6, 252);
  margin-right: 4px;
}

.col-2.error input {
  border-color: red;
}
.col-2.success input {
  border-color: #4bb543;
}
.col-2 small {
  color: #b00020;
  font-size: smaller;
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.grid {
  display: grid;
}
input {
  outline: 0;
}
.lead {
  font-size: 25px;
  text-transform: capitalize;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.3;
}
.text {
  opacity: 0.9;
}
.text-md {
  font-size: 1.6rem;
}
.text-lg {
  font-size: 17px;
  font-weight: 400;
}

.text-sm {
  font-size: 1.3rem;
}
.py {
  padding: 10.9rem 0;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.6rem 0;
  z-index: 999;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid rgb(149, 143, 143);
}
.navbar .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.6rem 0;
  z-index: 999;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 18px;
  font-weight: bold;
}
.navbar .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-brand img {
  width: 120px;
}
.navbar-show-btn,
.navbar-hide-btn {
  background-color: transparent;
  width: 30px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
button[class^="navbar"]:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 8rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 1000;
}
/* navbar show class */
.navbar-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navbar-hide-btn {
  position: absolute;
  right: 2rem;
  top: 4.5rem;
}
.nav-item {
  margin: 1.4rem 0;
}
.nav-link {
  opacity: 0.8;
  font-weight: 600;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
}
.nav-link:hover {
  opacity: 1;
  color: var(--fros-blue-color);
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.search-icon {
  display: block;
  width: 27px;
  margin-right: 1rem;
}
.search-control::-webkit-input-placeholder {
  color: var(--light-gray);
}
.search-control::-moz-placeholder {
  color: var(--light-gray);
}
.search-control:-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::placeholder {
  font-size: 12px;
  color: var(--light-gray);
}
.search-control {
  height: 27px;
  width: 100%;
  border-radius: 1.9rem;
  border: 1px solid #e78383;
  padding: 0 1.5rem;
}

/* header inner */
.header-inner {
  /* padding-top: 10rem; */
  margin-top: -30px;
}
.header-inner-left h1 {
  font-weight: 300;
  margin-bottom: 0;
}
.header-inner-left h1 span {
  font-size: 4.5rem;

  font-weight: 550;
  text-transform: uppercase;
  justify-content: center;
}
.header-inner-left .lead {
  opacity: 0.9;
}
.header-inner-left .text {
  margin: 5.8rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.header-inner-left .btn-group {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header-inner-right {
  margin-top: 6rem;
}
.header-inner-right img {
  max-width: 600px;
  margin: 0 auto;
  height: 430px;
  /* margin-top: -50px; */
  padding-bottom: 60px;
}

/* bootstrap form */
.mt-4 {
  margin-top: 1.5rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.4rem;
  line-height: 1.5;
  height: 4rem;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (max-width: 576px) {
  .form-row {
    flex-direction: column;
  }
  .form-control {
    width: 100%;
  }
  .form-group {
    margin-bottom: 15px;
  }
}
.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.form-action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-action-buttons button {
  margin-left: 10px;
}
.btn {
  /* display: inline-block; */
  padding: 10px 20px;
  border: none;
  /* border-radius: 4px; */
  /* background-color: #007bff; */
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /* cursor: pointer; */
}

.btn:hover {
  background-color: #010102;
  /* bac */
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* footer */
.footer {
  background-color: var(--fros-blue-color);
}
.footer-item {
  margin-bottom: 0.5rem;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.footer-head {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.footer-item .icon {
  width: 120px;
  margin: auto;
}
.footer-item .text {
  padding: 2rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.footer-item address {
  font-size: 1.5rem;
  font-style: normal;
}
.footer-item .tags-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-item .tags-list li {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  /* background-color: rgb(58, 58, 58); */
  border-radius: 0.4rem;
}
.footer-item a {
  margin-bottom: 1rem;
  display: inline-block;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.footer-item a:hover {
  color: var(--light-blue-color);
}
.footer-item:last-child .text {
  padding-top: 0;
}
.footer-item .appointment-info li {
  margin: 1rem 0;
}
.footer-item .appointment-info li span {
  margin-left: 1rem;
}
.footer-links {
  border-top: 2px solid var(--dark-gray);
  padding: 2.5rem 0;
  margin-top: -100px;
}
.footer-links li {
  margin: 0 2rem;
  font-size: 2rem;
}
.footer-links li a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--light-color);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.footer-links li a:hover {
  background-color: var(--light-color);
  color: var(--fros-blue-color);
}
.smallDiv {
  background-color: rgba(0, 0, 0, 0.68);
  color: white;
  /* padding-top: 5px; */
  text-align: center;
  font-size: 14px;
  height: 30px;
  width: 100%;
}

/* Media Queries */
@media (min-width: 450px) {
  .navbar-collapse {
    width: 320px;
  }
  .btn-group .btn {
    width: auto;
  }
  .btn-group .btn:first-child {
    margin-right: 48px;
    margin-bottom: 0;
  }
  .border-line {
    width: 405px;
  }
  .btn.btn-group {
    padding-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .header {
    height: 800px;
  }
  .section-head h2 {
    margin-top: 10rem;
  }

  .footer {
    font-size: 12px;
    font-style: normal;
  }
}

@media (min-width: 768px) {
  .header-inner-left h1 {
    padding-top: 0.5rem;
    font-size: 4.7rem;
  }

  .package-service-inner,
  .posts-inner,
  .footer-inner {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .footer-inner {
    text-align: left;
  }
  .footer-item .icon,
  .footer-item .text {
    margin-left: 0;
  }
  .footer-item .tags-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .header-inner {
    padding-top: 3.2rem;
  }
  .header-inner .container {
    grid-template-columns: 545px auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - 32px);
    position: relative;
  }
  .header-inner-left {
    text-align: left;
  }
  .header-inner-left .text {
    margin-left: 0;
  }
  .header-inner-left .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .header-inner-right img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5rem;
  }

  .border-line {
    margin-left: 0;
  }
  .border-line::after {
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .about-right {
    margin-left: auto;
    margin-top: 11.2rem;
  }

  .package-service-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .package-service-item {
    margin-bottom: 0;
  }

  .contact .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2.4rem;
    -moz-column-gap: 2.4rem;
    column-gap: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .navbar-show-btn,
  .navbar-hide-btn {
    display: none;
  }
  .navbar-collapse {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    margin: 0;
    margin-left: 3.5rem;
  }
  .nav-link {
    color: var(--light-color);
    opacity: 1;
    font-weight: 500;
    position: relative;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--light-color);
    opacity: 0;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-link:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    color: var(--light-color);
  }
  .nav-link:hover::after {
    opacity: 1;
    width: 100%;
  }
  .search-bar {
    margin-left: 5.5rem;
  }
  .search-inner-right {
    width: 100%;
  }
  .search-inner-right img {
    padding-left: 0;
    max-width: 647px;
  }
  .search-control {
    width: 150px;
  }
  .header-inner-right {
    width: 100%;
  }
  .header-inner-right img {
    padding-left: 0;
    max-width: 647px;
  }

  .footer-inner {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
}

@media (min-width: 1480px) {
  /* general */
  .container {
    max-width: 81vw;
  }
}

/* transition and animation stopper */
.resize-animation-stopper * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
