.calendar {
  background: #eaf8fb;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  height: 520px;
  perspective: 1000;
  transition: 0.9s;
  transform-style: preserve-3d;
  width: 100%;
  margin: 20px auto;
}

/* Front - Calendar */
.front {
  transform: rotateY(0deg);
}

.current-date {
  border-bottom: 1px solid rgba(73, 114, 133, 0.6);
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}

.current-date h1 {
  color: #010b0d;
  font-size: 1.4em;
  font-weight: 300;
}

.week-days {
  color: #010c0e;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 30px 40px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weeks {
  color: #070000;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.weeks div {
  display: flex;
  font-size: 1.2em;
  font-weight: 300;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.last-month {
  opacity: 0.3;
}

.weeks span {
  padding: 10px;
}

.weeks span.active {
  background: #ecc6bb;
  border-radius: 50%;
}

.weeks span:not(.last-month):hover {
  cursor: pointer;
  font-weight: 600;
}

.event {
  position: relative;
}

.event:after {
  content: "•";
  color: #ecc6bb;
  font-size: 1.4em;
  position: absolute;
  right: -4px;
  top: -4px;
}

/* Back - Event form */

.back {
  height: 500px;
  transform: rotateY(180deg);
}

.back input {
  background: none;
  border: none;
  border-bottom: px solid rgba(73, 114, 133, 0.6);
  color: #011114;
  font-size: 1.4em;
  font-weight: 300;
  padding: 30px 40px;
  width: 100%;
}

.info {
  color: #010708;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.2em;
  padding: 30px 40px;
}

.info div:not(.observations) {
  margin-bottom: 40px;
}

.info span {
  font-weight: 300;
}

.info .date {
  display: flex;
  justify-content: space-between;
}

.info .date p {
  width: 50%;
}

.info .address p {
  width: 100%;
}

.actions {
  bottom: 0;
  border-top: 1px solid rgba(73, 114, 133, 0.6);
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.actions button {
  background: none;
  border: 2px;
  color: #080202;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0px;
  padding: 30px 0;
  text-transform: uppercase;
  width: 100%;
  /* align-items: center; */
  display: block;
  margin: 0 auto;
}

.actions button:first-of-type {
  border-right: 1px solid rgba(73, 114, 133, 0.6);
}

.actions button:hover {
  background: #ecc6bb;
  cursor: pointer;
}

.actions button:active {
  background: #ecc6bb;
  outline: none;
}

/* Flip animation */

.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin-top: 30px;
  }
  .calendar {
    height: 500px;
    max-height: 100%;
    width: 90%;
  }
  .current-date {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  .current-date h1 {
    font-size: 1.2em;
  }
  .week-days {
    display: none;
  }
  .weeks {
    padding: 0 20px;
  }
  .weeks div {
    align-items: center;
    justify-content: center;
  }
  .info div {
    margin-bottom: 20px;
  }
  .back {
    height: 500px;
    transform: rotateY(180deg);
    /* width: 0.4px; */
  }

  .actions button {
    font-size: 0.8em;
    padding: 20px 0;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .calendar {
    height: 500px;
    max-height: 100%;
    width: 100%;
    /* margin-top: 20px; */
  }
  .current-date h1 {
    font-size: 1em;
  }
  .info div {
    margin-bottom: 10px;
  }

  .back {
    height: 490px;
    transform: rotateY(180deg);
  }

  .actions button {
    font-size: 0.8em;
    padding: 15px 2px;
  }
}
.rectangle {
  background-color: #c3e4e9;
  height: 40px;
  font-size: large;
  text-align: center;
  /* margin-top: 7px; */
  border: 4px solid #c3e4e9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
h4 {
  display: inline-block;
}

/* profile */
.user-options {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #c3e4e9;
  border: 1px solid #ccc;
  border-radius: 5px; /* Add border radius */
  padding: 8px;
  display: none;
}

.user-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-options ul li {
  margin-bottom: 10px;
}

.user-options ul li a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.user-options ul li a i {
  margin-right: 10px;
}

.user-options.show {
  display: block;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}
/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .user-options {
    position: absolute;
    top: 170px;
    left: 35px;

    border-radius: 5px;
    padding: 8px;
    display: none;
    margin-right: 50px;
  }

  .user-options ul li {
    margin-bottom: 15px;
  }

  .user-options ul li a {
    font-size: 16px;
  }

  .close-btn {
    top: 10px;
    font-size: 24px;
  }
}
