/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* ======================================== Globals ================================================== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --grey: #808080;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =========================================== Navigation ============================================== */
.container .navigation img {
  height: 100px;
  width: 110px;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: rgb(146, 216, 244);
  border-left: 10px solid rgb(146, 216, 244);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:active,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--black1);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: rgb(146, 216, 244);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #ffffff;
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 90%;
  margin: 0px 40px;
  padding: 10px;
  justify-content: center;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}


.icon1 {
  position: relative;
  font-size: 1.5rem;
  top: 10px;
  /* margin-left: 40%; */
}

.icon-button {
  position: relative;
  /* display: flex; */
  align-items: center;
  width: 40px;
  height: 40px;
  color: #367aae;
  background: #7fd0dc;
  border: none;
  /* right: -500px; */
  border: none;
  border-radius: 50%;
  /* margin-left: auto; */
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  /* display: flex; */
  align-items: center;
  border-radius: 50%;
  margin-top: 5px;
}


/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: #f6d2d2;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardb {
  position: relative;
  background: #f6d2d2;
  width: 100%;
  height: 200px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
}

.cardimg {
  width: 30%;
  height: 144px;
  border-radius: 80x;
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.icon ion-icon {
  font-size: 1.75rem;
}

/* Today's report */
.differentcard {
  position: relative;
  background: #fefefe;
  width: 100%;
  height: 200px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
}

/* .report {
  position: relative;
  display: block;
  min-width: 60px;
  height: 70px;
  line-height: 75px;
  text-align: center;
} */

.logo {
  border-radius: 150%;
  padding: 11px;
  padding-bottom: 17px;
  padding-top: 17px;
  margin-right: 0px;
  margin-left: -15%;
}

/* styling for card */
.card {
  /* box-shadow: 0 4px 8px 0 rgb(45, 48, 45); */
  width: 190px;
  margin: auto;
  padding: 5px;
}

.card-name {
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap-reverse; */
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card-body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card-title {
  font-size: 1rem;
  background: rgb(110, 110, 233);
  padding: 10px;
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .rectangle {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .rectangle {
  position: relative;
  display: grid;
  height: 1027px;
  background: #c0e4ec;
  padding: 20px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: #c0e4ec;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentCustomers table tr {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: #222;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
  /* 
  .user-text {
    margin-left: 88%;
  } */
  /* .icon1 ion-icon {
    margin-left: 35%;
  } */

  .differentcard {
    width: 100%;
  }

}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
  .differentcard {
    height: 70%;
  }
  /* .user-text {
    margin-left: 74%;
  } */
  /* .icon1 ion-icon {
    margin-left: 15%;
  } */
  /* .icon1 {
    margin-top: 7px;
    margin-left: 20%;
  } */
}

@media (max-width: 390px) {
  .card h2{
    font-size: 16px;
  }
  /* .card h3{
    font-size: 14px;
  } */
  h2{
    font-size: 16px;
  }
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 16px;
  }
  /* .user {
    min-width: 40px;
  } */
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    /* left: initial; */
  }
  .card-body{
    font-size: 6px;
  }
  /* .user-text {
    margin-left: 70%;
  }
  .icon1 {
    margin-left: 1%;
  } */
  /* .differentcard {
    height: 50%;
    width: 150%;
  } */

  .differentcard {
    height: 70%;
    width: 100%;
    /* padding-left: 20px; */
  }
    /* styling for card */
.card {
  /* box-shadow: 0 4px 8px 0 rgb(45, 48, 45); */
  width: 100px;
  margin: auto;
  padding: 5px;
}
h4{
  font-size: 4px;
}
}