@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* variables */
:root {
  --fros-blue-color: #c3e4e9;
  --light-blue-color: #ecc6bb;
  --dark-color: #dbd9d9;
  --light-gray: #dedede;
  --dark-gray: #a1a1a0;
  --light-color: #2d2b2b;
  --poppins-font: "Poppins", sans-serif;
  --transition: all 0.3s ease-in-out;
  --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2) !important;
}

/* some resets */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: var(--poppins-font);
  overflow-x: hidden;
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
.bg-blue {
  background-color: var(--fros-blue-color);
  height: 80px;
  /* border-bottom: #4a4949; */
}
.bg-white {
  background-color: var(--light-color);
}
.btn.btn-light-blue {
  background-color: #ecc6bb;
}
.text-blue {
  color: var(--fros-blue-color);
}
.text-white {
  color: var(--light-color);
}

/* button */
.btn,
button {
  border: none;
  cursor: pointer;
}
.btn {
  padding: 0.9rem 4rem;
  border-radius: 3rem;
  display: inline-block;
  background-color: var(--light-color);
  font-weight: 500;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.btn-white {
  color: var(--fros-blue-color);
}
.btn-light-blue {
  background-color: var(--light-blue-color);
  color: var(--light-color);
}
.btn-blue {
  background-color: var(--fros-blue-color);
  color: var(--light-color);
}
.btn-group {
  /* padding-left: 50px; */
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn-group .btn {
  width: 100%;
}
.btn.btnn-white {
  background-color: #c3e4e9;
  color: #2d2b2b;
}
.btn-group .btn:first-child {
  margin-bottom: 2rem;
}
.btn:hover {
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.grid {
  display: grid;
}
input {
  outline: 0;
}
.lead {
  font-size: 25px;
  text-transform: capitalize;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.3;
}
.text {
  opacity: 0.9;
}
.text-md {
  font-size: 1.3rem;
}
.text-lg {
  font-size: 17px;
  font-weight: 400;
}

.text-sm {
  font-size: 1.3rem;
}
.py {
  padding: 10.9rem 0;
}

.text-center {
  text-align: center;
}

/* header */
.header {
  min-height: 3vh;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.6rem 0;
  z-index: 999;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.navbar .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand img {
  width: 120px;
}
.navbar-show-btn,
.navbar-hide-btn {
  background-color: transparent;
  width: 30px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
button[class^="navbar"]:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 8rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 1000;
}
/* navbar show class */
.navbar-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navbar-hide-btn {
  position: absolute;
  right: 2rem;
  top: 4.5rem;
}
.nav-item {
  margin: 1.4rem 0;
}
.nav-link {
  opacity: 0.8;
  font-weight: 600;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
}
.nav-link:hover {
  opacity: 1;
  color: var(--fros-blue-color);
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.search-icon {
  display: block;
  width: 27px;
  margin-right: 1rem;
}
.search-control::-webkit-input-placeholder {
  color: var(--light-gray);
}
.search-control::-moz-placeholder {
  color: var(--light-gray);
}
.search-control:-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::placeholder {
  font-size: 12px;
  color: var(--light-gray);
}
.search-control {
  height: 27px;
  width: 100%;
  border-radius: 1.9rem;
  border: 1px solid #ecc6bb;
  padding: 0 1.5rem;
}

/* header inner */
.header-inner {
  padding-top: 16rem;
}
.header-inner-left h1 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 0;
}
.header-inner-left h1 span {
  font-weight: 600;
  text-transform: uppercase;
}
.header-inner-left .lead {
  opacity: 0.9;
}
.header-inner-left .text {
  margin: 5.8rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.header-inner-left .btn-group {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header-inner-right {
  margin-top: 6rem;
}
.header-inner-right img {
  max-width: 590px;
  margin: 0 auto;
  height: 450px;
  padding-bottom: 50px;
}

/* banner two section */
.banner-two {
  background-color: #ecc6bb;

  padding: 8rem 0;
}

.banner-two-left img {
  max-width: 620px;
  height: 270px;
  margin: auto;
}
.banner-two-left,
h2 {
  font-size: 50px;
}
.banner-two-left .lead {
  font-size: 40px;
  margin-top: 6rem;
}

/* some resets */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: var(--poppins-font);
  overflow-x: hidden;
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
.bg-blue {
  background-color: var(--fros-blue-color);
  height: 80px;
  /* border-bottom: #4a4949; */
}
.bg-white {
  background-color: var(--light-color);
}
.btn.btn-light-blue {
  background-color: #ecc6bb;
}
.text-blue {
  color: var(--fros-blue-color);
}
.text-white {
  color: var(--light-color);
}

/* button */
.btn,
button {
  border: none;
  cursor: pointer;
}
.btn {
  padding: 0.9rem 4rem;
  border-radius: 3rem;
  display: inline-block;
  background-color: var(--light-color);
  font-weight: 500;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.btn-white {
  color: var(--fros-blue-color);
}
/* .btn.btn-white{
    color: #ecc6bb;
} */
.btn-light-blue {
  background-color: var(--light-blue-color);
  color: var(--light-color);
}
.btn-blue {
  background-color: var(--fros-blue-color);
  color: var(--light-color);
}
.btn-group {
  /* padding-left: 50px; */
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn-group .btn {
  width: 100%;
}
.btn.btnn-white {
  background-color: #c3e4e9;
  color: #2d2b2b;
}
.btn-group .btn:first-child {
  margin-bottom: 2rem;
}
.btn:hover {
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.grid {
  display: grid;
}
input {
  outline: 0;
}
.lead {
  font-size: 25px;
  text-transform: capitalize;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.3;
}
.text {
  opacity: 0.9;
}
.text-md {
  font-size: 1.3rem;
}
.text-lg {
  font-size: 17px;
  font-weight: 400;
}

.text-sm {
  font-size: 1.3rem;
}
.py {
  padding: 10.9rem 0;
}

.text-center {
  text-align: center;
}

/* header */
.header {
  min-height: 6vh;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.6rem 0;
  z-index: 999;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 18px;
  font-weight: bold;
}
.navbar .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand img {
  width: 120px;
}
.navbar-show-btn,
.navbar-hide-btn {
  background-color: transparent;
  width: 30px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
button[class^="navbar"]:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 8rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 1000;
}
/* navbar show class */
.navbar-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navbar-hide-btn {
  position: absolute;
  right: 2rem;
  top: 4.5rem;
}
.nav-item {
  margin: 1.4rem 0;
}
.nav-link {
  opacity: 0.8;
  font-weight: 600;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
}
.nav-link:hover {
  opacity: 1;
  color: var(--fros-blue-color);
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* header inner */
.header-inner {
  padding-top: 16rem;
}
.header-inner-left h1 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 0;
}
.header-inner-left h1 span {
  font-weight: 600;
  text-transform: uppercase;
}
.header-inner-left .lead {
  opacity: 0.9;
}
.header-inner-left .text {
  margin: 5.8rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.header-inner-left .btn-group {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header-inner-right {
  margin-top: 6rem;
}
.header-inner-right img {
  max-width: 590px;
  margin: 0 auto;
  height: 450px;
  padding-bottom: 50px;
}

/* banner two section */
.banner-two {
  background-color: #ecc6bb;
}
.banner-two-left img {
  max-width: 620px;
  height: 270px;
  margin: auto;
}
.banner-two-right .lead {
  font-size: 17px;
  margin-top: 6rem;
}

/* footer */
.footer {
  background-color: var(--fros-blue-color);
}
.footer-item {
  margin-bottom: 1rem;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.footer-head {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.footer-item .icon {
  width: 120px;
  margin: auto;
}
.footer-item .text {
  padding: 2rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.footer-item address {
  font-size: 1.5rem;
  font-style: normal;
}
.footer-item .tags-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-item .tags-list li {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  /* background-color: rgb(58, 58, 58); */
  border-radius: 0.4rem;
}
.footer-item a {
  margin-bottom: 1rem;
  display: inline-block;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.footer-item a:hover {
  color: var(--light-blue-color);
}
.footer-item:last-child .text {
  padding-top: 0;
}
.footer-item .appointment-info li {
  margin: 1rem 0;
}
.footer-item .appointment-info li span {
  margin-left: 1rem;
}
.footer-links {
  border-top: 2px solid var(--dark-gray);
  padding: 4.5rem 0;
}
.footer-links li {
  margin: 0 2rem;
  font-size: 2rem;
}
.footer-links li a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--light-color);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.footer-links li a:hover {
  background-color: var(--light-color);
  color: var(--fros-blue-color);
}
.smallDiv {
  background-color: rgba(0, 0, 0, 0.68);
  color: white;
  padding-top: 5px;
  text-align: center;
  font-size: 14px;
  height: 30px;
  width: 100%;
}

/* Media Queries */
@media (min-width: 450px) {
  .navbar .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 8px;
  }
  .navbar-collapse {
    width: 320px;
  }
  .btn-group .btn {
    width: auto;
  }
  .btn-group .btn:first-child {
    margin-right: 48px;
    margin-bottom: 0;
  }
  .border-line {
    width: 405px;
  }
  .btn.btn-group {
    padding-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .section-head h2 {
    margin-top: 10rem;
  }

  .header-inner-right img {
    height: auto;
  }

  .banner-two-right .lead {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
    font-style: normal;
  }
  .smallDiv {
    font-size: 8px;
    height: auto;
    padding-bottom: 5px;
  }

  .contact {
    padding-top: 0.1px;
  }
  .banner-two-left h2 {
    font-size: 25px;
  }
  .banner-two-left p {
    font-size: 25px;
  }
  p.lead.text-white {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  /* .header {
    min-height: 4vh;
  } */
  .header-inner-left h1 {
    padding-top: 0.2rem;
    font-size: 4.7rem;
  }

  .navbar .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 8px;
  }
  .footer-inner {
    text-align: left;
  }
  .footer-item .icon,
  .footer-item .text {
    margin-left: 0;
  }
  .footer-item .tags-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .header-inner {
    padding-top: 3.2rem;
  }
  .header-inner .container {
    grid-template-columns: 545px auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - 32px);
    position: relative;
  }
  .header-inner-left {
    text-align: left;
  }
  .header-inner-left .text {
    margin-left: 0;
  }
  .header-inner-left .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .header-inner-right img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5rem;
  }

  .banner-two .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .banner-two-right {
    text-align: left;
  }
  .banner-two-right .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .banner-two-right .lead {
    margin-top: 0;
  }
  .banner-two-left img {
    width: 100%;
    max-width: 100%;
  }

  .contact .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2.4rem;
    -moz-column-gap: 2.4rem;
    column-gap: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .navbar-show-btn,
  .navbar-hide-btn {
    display: none;
  }
  .navbar-collapse {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    margin: 0;
    margin-left: 3.5rem;
  }
  .nav-link {
    color: var(--light-color);
    opacity: 1;
    font-weight: 500;
    position: relative;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--light-color);
    opacity: 0;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-link:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    color: var(--light-color);
  }
  .nav-link:hover::after {
    opacity: 1;
    width: 100%;
  }

  .header-inner-right {
    width: 100%;
  }
  .header-inner-right img {
    padding-left: 0;
    max-width: 647px;
  }

  .contact .container {
    grid-template-columns: auto 514px;
  }
  .footer-inner {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
}

@media (min-width: 1480px) {
  /* general */
  .container {
    max-width: 81vw;
  }
}

/* transition and animation stopper */
.resize-animation-stopper * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* Media Queries */
@media (min-width: 450px) {
  .navbar-collapse {
    width: 320px;
  }
  .btn-group .btn {
    width: auto;
  }
  .btn-group .btn:first-child {
    margin-right: 48px;
    margin-bottom: 0;
  }
  .border-line {
    width: 405px;
  }
}

@media (min-width: 768px) {
  .header-inner-left h1 {
    font-size: 5.7rem;
  }

  .footer-inner {
    text-align: left;
  }
  .footer-item .icon,
  .footer-item .text {
    margin-left: 0;
  }
  .footer-item .tags-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .header-inner {
    padding-top: 3.1rem;
  }
  .header-inner .container {
    grid-template-columns: 545px auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - 32px);
    position: relative;
  }
  .header-inner-left {
    text-align: left;
  }
  .header-inner-left .text {
    margin-left: 0;
  }
  .header-inner-left .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .header-inner-right img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5rem;
  }

  .banner-two .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .banner-two-right {
    text-align: left;
  }
  .banner-two-right .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .banner-two-right .lead {
    margin-top: 0;
  }
  .banner-two-left img {
    width: 100%;
    max-width: 100%;
  }

  .contact .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2.4rem;
    -moz-column-gap: 2.4rem;
    column-gap: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .navbar-show-btn,
  .navbar-hide-btn {
    display: none;
  }
  .navbar-collapse {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    margin: 0;
    margin-left: 3.5rem;
  }
  .nav-link {
    color: var(--light-color);
    opacity: 1;
    font-weight: 500;
    position: relative;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--light-color);
    opacity: 0;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-link:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    color: var(--light-color);
  }
  .nav-link:hover::after {
    opacity: 1;
    width: 100%;
  }

  .header-inner-right {
    width: 100%;
  }
  .header-inner-right img {
    padding-left: 0;
    max-width: 647px;
  }

  .contact .container {
    grid-template-columns: auto 514px;
  }
  .footer-inner {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
}

@media (min-width: 1480px) {
  /* general */
  .container {
    max-width: 81vw;
  }
}

/* transition and animation stopper */
.resize-animation-stopper * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
/* profile */
.card {
  background-color: #c3edef;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  align-items: center;
  margin: 0 auto;
  height: 500px;
  margin: 10px auto;
}

.card-header {
  background-color: #ecc6bb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.card-header h1 {
  margin: 20px auto;
}

.back-button {
  background-color: #c3e4e9;
  border: 2px solid black;
  font-size: 15px;
  color: #0d0101;
  cursor: pointer;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #ecc6bb;
}

.card-body {
  padding: 20px;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.circle-container {
  position: relative;
  width: 100px;
  height: 100px;
  /* margin-bottom: -20px; */
  margin-top: -50px;
  margin-left: 40px;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: 4px solid black;
}

.user-icon {
  width: 100%;
  height: 100%;
}

.camera-icon {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.camera-icon i {
  color: #160202;
}

.details {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  line-height: 50px;
  padding-top: 50px;
}

@media only screen and (max-width: 767px) {
  .circle-container {
    margin-top: -50px;
    margin-left: 110px;
  }
  .circle-container {
    margin-top: -50px;
    margin-left: 110px;
  }
  .card-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .back-button {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 479px) {
  .circle-container {
    margin-top: -50px;
    margin-left: 210px;
  }
  .circle-container {
    margin-top: -50px;
    margin-left: 210px;
  }
}
@media only screen and (max-width: 500px) {
  .circle {
    width: 90%;
    height: 90%;
    max-width: 400px;
    max-height: 400px;
    margin-top: -50px;
    margin-left: 20px;
  }
  .circle-container {
    margin-top: -50px;
    margin-left: 100px;
  }
}

@media only screen and (max-width: 400px) {
  .circle {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    margin-top: -50px;
    margin-left: -20px;
  }
  .circle-container {
    margin-top: -50px;
    margin-left: 100px;
  }
}

/* notification */
.notification-box {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 300px;
  max-height: 300px;
  background-color: #c3e4e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
  display: none;
  /* border: 1px solid black; */
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.notification-header h3 {
  margin: 0;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #666666;
  cursor: pointer;
}

.notification-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-list li {
  margin-bottom: 10px;
}

.notification-list li a {
  color: #333333;
  text-decoration: none;
}
/* inside notification */
.notification {
  position: relative;
  padding: 12px 20px;
  background-color: #ffff;
  border-bottom: 1px solid #ddd;
  border-radius: 20px;
}

.notification .close-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #5d5a5a;
  cursor: pointer;
}

.notification:hover .close-btn {
  color: #000;
}

.notification .notification-text {
  display: inline-block;
  margin-right: 20px;
  font-size: 10px;
}
#notification-count {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 10px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 50%;
}
