/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --grey: #808080;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.container .navigation img {
  height: 100px;
  width: 110px;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: rgb(146, 216, 244);
  border-left: 10px solid rgb(146, 216, 244);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:active,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--black1);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: rgb(146, 216, 244);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #ffffff;
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.user-text {
  position: absolute;
  text-align: right;
  margin-left: 92%;
}
.item1 {
  margin-top: 10px;
}
.icon ion-icon {
  font-size: 1.75rem;
}

.icon1 {
  position: relative;
  font-size: 1.5rem;
  top: 10px;
  /* margin-left: 40%; */
}

.icon-button {
  position: relative;
  /* display: flex; */
  align-items: center;
  width: 40px;
  height: 40px;
  color: #367aae;
  background: #7fd0dc;
  border: none;
  /* right: -500px; */
  border: none;
  border-radius: 50%;
  /* margin-left: auto; */
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  /* display: flex; */
  align-items: center;
  border-radius: 50%;
  margin-top: 5px;
}

.user img {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo {
  border-radius: 150%;
  padding: 11px;
  padding-bottom: 17px;
  padding-top: 17px;
  margin-right: 0px;
  margin-left: -15%;
}
/* ==================Button list================= */
.button1 {
  display: grid;
  grid: 100%;
}

.button1 {
  background-color: crimson;
  color: #f5f5f5;
  text-transform: capitalize;
  padding: 2%;
  /* border-radius: 10%; */
  margin-left: 20px;
}

.back {
  padding: 20px;
  margin-top: -60px;
}

.backbutton {
  padding: 10px 20px 10px 20px;
  background-color: #523ba8;
  border-radius: 10px;
  color: white;
}
.hide {
  display: grid;
  grid: auto auto;
  margin-right: 25px;
  opacity: 0;
}

section.active .hide {
  opacity: 1;
}

.button2 {
  background-color: rgb(42, 148, 157);
  color: #f5f5f5;
  text-transform: capitalize;
  padding: 2%;
  /* border-radius: 10%; */

  margin-left: 20px;
}
.card-title1 {
  font-size: 1rem;
  background: rgb(110, 110, 233);
  padding: 10px;
}

/* ==========rectangle================= */

.details .rectangle {
  position: relative;
  display: grid;
  min-height: 900px;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background: #c0e4ec;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: #f6d2d2;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

* {
  margin: 0;
  padding: 0;
}

/* styling for card */
.card {
  /* box-shadow: 0 4px 8px 0 rgb(45, 48, 45); */
  max-width: 90%;
  margin: auto;
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap-reverse; */
  /* flex-flow: row wrap-reverse; */
  /* flex-flow: row wrap-reverse; */

  justify-content: left;
  align-items: center;
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  grid-gap: 30px;
  /* margin-top: 10px; */
}

/* ============== Doctor's info=========== */

.divide {
  display: flex;
}

.item1 {
  flex: 20%;
}

.item2 {
  flex: 80%;
}

/* ================Validate form ==================== */

.hide {
  display: none;
}
label.validation-error {
  color: rgb(248, 45, 5);
}

/* ============== */

style.css body > table {
  width: 80%;

  margin: 40px auto;

  background-color: #090808;
}

table {
  border-collapse: collapse;
}

table.list {
  width: 100%;
  overflow-y: scroll;
  height: 600px;
  display: block;
}

td,
th {
  border: 1px solid #000000;

  text-align: left;

  padding: 8px 15px;
}
th {
  background: #47dd56;
}
/* tr:nth-child(even),
table.list thead > tr {
  background: #ffffff;
} */

.DOCid {
  padding: 20px;

  margin-top: 20px;

  display: inline-block;

  border: 1px solid #000000;

  border-radius: 4px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="datetime-local"] {
  width: 91%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 10px;
}


.btn {
  background: #ffffff;
  padding: 6px 12px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  margin: 15px 0 10px;
  outline: none;
}
.btn:hover {
  background: #bfd0de;
}

@media (max-width: 768px) {
  input[type="submit"],
  input[type="reset"] {
    background: #eee;
    padding: 5px 12px;
    font-size: 10px;
  }

  table.list {
    font-size: 14px;
    width: 100%;
    overflow-y: scroll;
    height: 500px;
    display: block;
  }

  th {
    border: 1px solid #000000;
    text-align: left;
    background: #47dd56;
    padding: 5px 10px;
  }
  .icon1 {
    margin-top: 7px;
    margin-left: 20%;
  }
}
/* ===========button========================= */

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .user-text {
    position: absolute;
    margin-left: 88%;
  }

  .icon1 ion-icon {
    position: absolute;
    margin-left: 35%;
  } */
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
  .details .rectangle form {
    width: 100%;
    font-size: 10px;
  }

  .item2 input {
    height: 10px;
    width: 70%;
  }

  input[type="submit"],
  input[type="reset"] {
    background: #eee;

    padding: 5px 12px;

    font-size: 10px;
  }
  /* .user-text {
    margin-left: 70%;
  }
  .icon1 ion-icon {
    margin-left: 10%;
  } */
  .icon1 {
    margin-top: 7px;
    margin-left: 20%;
  }
}

@media (max-width: 390px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 30px;
  }
  .navigation {
    width: 50%;
    left: -100%;
    z-index: 1000;
    height: 720px;
  }
  .navigation.active {
    width: 90%;
    left: 10;
    height: 100%;
  }
  .toggle {
    z-index: 10001;
    /* width: 300px; */
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
  input[type="submit"],
  input[type="reset"] {
    background: #eee;
    padding: 5px 12px;
    font-size: 10px;
  }

  table.list {
    font-size: 10px;
    width: 100%;
  }
  td,
  th {
    border: 1px solid #ddd;

    text-align: left;

    padding: 2px 3px;
  }
  /* .user-text {
    margin-left: 70%;
  } */
  /* .icon1 ion-icon {
    margin-left: 10%;
  } */
  /* .icon1 {
    margin-left: 1%;
  } */
}
