* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(244, 244, 244);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #aed4dd;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 50px;
  width: 500px;
}

.lock-icon {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  margin-top: 10px;
  text-transform: uppercase;
  color: black;
}

p {
  font-size: 19px;
  color: black;
}

.passInput {
  margin-top: 15px;
  width: 80%;
  background: transparent;
  border: none;
  border-bottom: 2px solid deepskyblue;
  font-size: 15px;
  color: white;
  outline: none;
}

button {
  margin-top: 15px;
  width: 80%;
  background-color: deepskyblue;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  box-shadow: 1px 1px 0px 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #eb8888;
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .lock-icon {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    text-transform: uppercase;
    color: black;
  }

  p {
    font-size: 12px;
    color: black;
  }
  .card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #aed4dd;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
    margin-top: -100px;
  }
}
