@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* variables */
:root {
  --fros-blue-color: #c3e4e9;
  --light-blue-color: #ecc6bb;
  --dark-color: #dbd9d9;
  --light-gray: #dedede;
  --dark-gray: #a1a1a0;
  --light-color: #2d2b2b;
  --poppins-font: "Poppins", sans-serif;
  --transition: all 0.3s ease-in-out;
  --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2) !important;
}

/* some resets */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: var(--poppins-font);
  overflow-x: hidden;
}
.nav-item.active a {
  color: #eb8888;
  /* Apply your desired styles for the active link */
}

img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
.bg-blue {
  background-color: var(--fros-blue-color);
  height: 80px;
  /* border-bottom: #4a4949; */
}
.bg-white {
  background-color: var(--light-color);
}
.btn.btn-light-blue {
  background-color: #e78383;
}
.text-blue {
  color: var(--fros-blue-color);
}
.text-white {
  color: var(--light-color);
}

/* button */
.btn,
button {
  border: none;
  cursor: pointer;
}
.btn {
  padding: 0.9rem 4rem;
  border-radius: 3rem;
  display: inline-block;
  background-color: var(--light-color);
  font-weight: 500;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.btn-white {
  color: var(--fros-blue-color);
}
/* .btn.btn-white{
    color: #ecc6bb;
} */
.btn-light-blue {
  background-color: var(--light-blue-color);
  color: var(--light-color);
}
.btn-blue {
  background-color: var(--fros-blue-color);
  color: var(--light-color);
}
.btn-group {
  /* padding-left: 50px; */
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn-group .btn {
  width: 100%;
}
.btn.btnn-white {
  background-color: #c3e4e9;
  color: #2d2b2b;
}
.btn-group .btn:first-child {
  margin-bottom: 2rem;
}
.btn:hover {
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.grid {
  display: grid;
}
input {
  outline: 0;
}
.lead {
  font-size: 25px;
  text-transform: capitalize;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.3;
}
.text {
  opacity: 0.9;
}
.text-md {
  font-size: 1.6rem;
}
.text-lg {
  font-size: 17px;
  font-weight: 400;
}

.text-sm {
  font-size: 1.3rem;
}
.py {
  padding: 10.9rem 0;
}

.text-center {
  text-align: center;
}

/* header */
.header {
  min-height: 100vh;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.6rem 0;
  z-index: 999;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 18px;
  font-weight: bold;
}
.navbar .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand img {
  width: 120px;
}
.navbar-show-btn,
.navbar-hide-btn {
  background-color: transparent;
  width: 30px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
button[class^="navbar"]:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 8rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 1000;
}
/* navbar show class */
.navbar {
  border-bottom: 1px solid rgb(149, 143, 143);
}
.navbar-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navbar-hide-btn {
  position: absolute;
  right: 2rem;
  top: 4.5rem;
}
.nav-item {
  margin: 1.4rem 0;
}
.nav-link {
  opacity: 0.8;
  font-weight: 600;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
}
.nav-link:hover {
  opacity: 1;
  color: var(--fros-blue-color);
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.search-icon {
  display: block;
  width: 27px;
  margin-right: 1rem;
}
.search-control::-webkit-input-placeholder {
  color: var(--light-gray);
}
.search-control::-moz-placeholder {
  color: var(--light-gray);
}
.search-control:-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::placeholder {
  font-size: 12px;
  color: var(--light-gray);
}
.search-control {
  height: 27px;
  width: 100%;
  border-radius: 1.9rem;
  border: 1px solid #e78383;
  padding: 0 1.5rem;
}

/* header inner */
.header-inner {
  padding-top: 16rem;
}
.header-inner-left h1 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 0;
}
.header-inner-left h1 span {
  font-weight: 500;
  text-transform: uppercase;
}
.header-inner-left .lead {
  opacity: 0.9;
}
.header-inner-left .text {
  margin: 5.8rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.header-inner-left .btn-group {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header-inner-right {
  margin-top: 5rem;
}
.header-inner-right img {
  max-width: 600px;
  margin: 0 auto;
  height: 450px;
  padding-bottom: 60px;
}

/* about section */

.section-head h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
.border-line {
  height: 0.4rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--fros-blue-color);
  position: relative;
}
.border-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  width: 102px;
  background-color: var(--light-blue-color);
}

.about {
  padding-top: 0.5rem;
  background-color: #faeeee;
  height: 500px;
}
.about-left {
  margin-bottom: 6rem;
}
.about-right {
  /* margin-top: 16.8rem; */
  height: 400px;
}
.about-left .text {
  margin: 2.6rem 0;
  line-height: 2.3;
  font-size: 16px;
}
.about .btn-white {
  color: var(--dark-gray);
  border-color: 1px solid #f7bcbc;
}
.about-right .img {
  width: 100%;
  /* background-color: #c3e4e9; */
  max-width: 537px;
  height: 490px;
  position: relative;
  /* padding-bottom: 40px; */
}
.about-right .img img {
  /* padding-top: 10rem; */
  -webkit-transform: scaleX(1.03);
  -ms-transform: scaleX(1.03);
  transform: scaleX(1.03);
}
.about-right .img::after,
.about-right .img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 400px;
}
.about-right .img::after {
  top: -56px;
  left: 0;
  /* background-color: #384e71; */
  z-index: -1;
}
.about-right .img::before {
  top: -112px;
  left: 0;
  /* background-color: var(--fros-blue-color); */
  z-index: -2;
}

/* banner one section */
.banner-one {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#9ddeedb3),
      to(#9ddeedbb)
    ),
    url("userPage/images/p4.png") top/cover no-repeat;
  background: -o-linear-gradient(rgba(244, 176, 176, 0.849), (#9ddeed66)),
    url("../images/banner-1-img.png") top/cover no-repeat;
  background: linear-gradient(rgba(247, 180, 180, 0.848), (#9ddeed42)),
    url("../images/banner-1-img.png") top/cover no-repeat;
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(195, 228, 233, 1)), to(rgba(195, 228, 233, 1))), url('../images/banner-1-img.png') top/cover no-repeat;
    background: -o-linear-gradient(rgb(217, 194, 194), rgba(195, 228, 233, 1)), url('../images/banner-1-img.png') top/cover no-repeat;
    background: linear-gradient(rgb(237, 214, 214), rgba(195, 228, 233, 1)), url('../images/banner-1-img.png') top/cover no-repeat; */
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.banner-one .lead {
  font-size: 2.8rem;
  font-weight: 500;
  max-width: 600px;
}
.banner-one .text-sm {
  font-weight: 500;
}

/* services section */

.services {
  padding-bottom: 0.1rem;
}
.services .section-head .text-lg {
  color: var(--dark-gray);
  margin-top: -0.5rem;
}
.services .section-head img {
  margin: 1rem auto;
}
.line-art {
  max-width: 240px;
  margin: auto;
}
.line-art img {
  width: 30px;
}
.line-art div {
  width: 100px;
  height: 2px;
  background-color: var(--light-gray);
}
.services-inner {
  padding: 6rem 0;
}
.service-item {
  padding: 3rem;
  /* margin-bottom: 1rem; */
}
.service-item:last-child {
  margin-bottom: 0;
}
.service-item .icon img {
  width: 80px;
  margin: auto;
}
.service-item h3 {
  margin: 5rem 0;
  opacity: 0.7;
}

/* banner two section */
.banner-two {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#9ddeedb3),
      to(#9ddeedbb)
    ),
    url("userPage/images/im.png") top/cover no-repeat;
  background: -o-linear-gradient(rgba(244, 176, 176, 0.849), (#9ddeed66)),
    url("../p4.png") top/cover no-repeat;
  background: linear-gradient(rgba(247, 180, 180, 0.848), (#9ddeed42)),
    url("../p4.png") top/cover no-repeat;
  padding: 8rem 0;
}
.banner-two-left img {
  max-width: 620px;
  height: 270px;
  margin: auto;
}
.banner-two-right .lead {
  font-size: 17px;
  margin-top: 6rem;
}

/* doctors panel */
.doc-panel-inner {
  margin-top: 2rem;
}
.doc-panel-item {
  margin-bottom: 6rem;
}
.doc-panel-item:last-child {
  margin-bottom: 0;
}
.doc-panel-item .img {
  position: relative;
  height: 440px;
  background-color: var(--light-gray);
  overflow: hidden;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.doc-panel-item .img .info {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.doc-panel-item .img {
  max-width: 357px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.doc-panel-item:hover .info {
  bottom: 0;
}

/* contact section */
.contact-left {
  margin-bottom: 1rem;
  height: 350px;
}
.contact-left iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.contact .lead {
  margin: 30px;
}

/* footer */
.footer {
  background-color: var(--fros-blue-color);
}
.footer-item {
  margin-bottom: 1rem;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.footer-head {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.footer-item .icon {
  width: 120px;
  margin: auto;
}
.footer-item .text {
  padding: 2rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.footer-item address {
  font-size: 1.5rem;
  font-style: normal;
}
.footer-item .tags-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-item .tags-list li {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  /* background-color: rgb(58, 58, 58); */
  border-radius: 0.4rem;
}
.footer-item a {
  margin-bottom: 1rem;
  display: inline-block;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.footer-item a:hover {
  color: var(--light-blue-color);
}
.footer-item:last-child .text {
  padding-top: 0;
}
.footer-item .appointment-info li {
  margin: 1rem 0;
}
.footer-item .appointment-info li span {
  margin-left: 1rem;
}
.footer-links {
  border-top: 2px solid var(--dark-gray);
  padding: 2.5rem 0;
  margin-top: -100px;
}
.footer-links li {
  margin: 0 2rem;
  font-size: 2rem;
}
.footer-links li a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--light-color);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.footer-links li a:hover {
  background-color: var(--light-color);
  color: var(--fros-blue-color);
}
.smallDiv {
  background-color: rgba(0, 0, 0, 0.68);
  color: white;
  padding-top: 5px;
  text-align: center;
  font-size: 14px;
  height: 30px;
  width: 100%;
}
/* --------------------------------- */
@media (max-width: 414px) {
  .header {
    height: 800px;
  }
  .section-head h2 {
    margin-top: 10rem;
  }
  .header-inner {
    padding-top: 70px;
  }
  .services {
    margin-top: -15rem;
  }
  .header-inner-right img {
    height: 250px;
    padding-bottom: 9rem;
  }

  .about-left .text {
    margin: 2.6rem 0;
    line-height: 2.3;
    font-size: 10px;
  }
  .about-right .img {
    width: 100%;
    /* background-color: #c3e4e9; */
    max-width: 537px;
    height: 1690px;
    position: relative;
    /* padding-bottom: 40px; */
  }
  .banner-two-right .lead {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
    font-style: normal;
  }
  .smallDiv {
    font-size: 8px;
    height: auto;
    padding-bottom: 5px;
  }
  .doc-panel {
    padding-top: 0.1px;
  }
  .contact {
    padding-top: 0.1px;
  }
}
/* -------------------------------------- */
@media (max-width: 360px) {
  .header-inner {
    padding-top: 70px;
  }
  .header-inner-right img {
    height: 350px;
    padding-bottom: 160px;
  }
  .services {
    margin-top: -15rem;
  }
  .header-inner-left h1 span {
    display: block;
  }

  .header-inner-left p.text-md {
    margin-top: 15px;
  }
  .section-head h2 {
    font-size: 25px;
  }
  .about-right img {
    height: 250px;
  }
  .btn.btnn-white {
    margin-top: -100rem;
    font-size: 14px;
  }

  .footer-inner {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px 0;
  }

  .footer-item {
    text-align: center;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .footer-links {
    margin-top: 10px;
  }

  .footer-links ul {
    justify-content: center;
  }

  .services .services-inner {
    gap: 2rem;
  }

  .about .container.grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .doc-panel .doc-panel-inner {
    gap: 2rem;
  }

  .banner-two .container.grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contact .container.grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
/* -------------------------------------------- */

@media (max-width: 375px) {
  .header-inner {
    padding-top: 70px;
  }
  .header-inner-right img {
    height: 350px;
    padding-bottom: 260px;
  }
  .services {
    margin-top: -15rem;
  }

  .header-inner-left h1 span {
    display: block;
  }

  .header-inner-left p.text-md {
    margin-top: 15px;
  }
  .section-head h2 {
    font-size: 25px;
  }
  .about-right img {
    height: 250px;
  }
  .btn.btnn-white {
    margin-top: -100rem;
    font-size: 14px;
  }

  .footer-inner {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px 0;
  }

  .footer-item {
    text-align: center;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .footer-links {
    margin-top: 10px;
  }

  .footer-links ul {
    justify-content: center;
  }

  .services .services-inner {
    gap: 2rem;
  }

  .about .container.grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .doc-panel .doc-panel-inner {
    gap: 2rem;
  }

  .banner-two .container.grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contact .container.grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
/* -------------------------------------------- */

/* Media Queries */
@media (min-width: 450px) {
  .navbar-collapse {
    width: 320px;
  }
  .btn-group .btn {
    width: auto;
  }
  .btn-group .btn:first-child {
    margin-right: 48px;
    margin-bottom: 0;
  }
  .border-line {
    width: 405px;
  }
  .btn.btn-group {
    padding-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .header {
    height: 800px;
  }
  /* .header-inner{
    padding-top: -1000rem;
  } */
  .section-head h2 {
    margin-top: 14rem;
  }

  .header-inner-right img {
    height: auto;
  }
  .about-left .text {
    margin: 2.6rem 0;
    line-height: 2.3;
    font-size: 10px;
  }
  .about-right .img {
    width: 100%;
    /* background-color: #c3e4e9; */
    max-width: 537px;
    height: 1690px;
    position: relative;
    /* padding-bottom: 40px; */
  }
  .section-head h2 {
    font-size: 25px;
  }
  .banner-two-right .lead {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
    font-style: normal;
  }
  .smallDiv {
    font-size: 8px;
    height: auto;
    padding-bottom: 5px;
  }
  .doc-panel {
    padding-top: 0.1px;
  }
  .contact {
    padding-top: 0.1px;
  }
}

@media (min-width: 768px) {
  .header-inner-left h1 {
    padding-top: 4.5rem;
    font-size: 4.7rem;
  }
  .services-inner,
  .doc-panel-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .doc-panel-inner {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .doc-panel .section-head h2 {
    text-align: left;
  }
  .package-service-inner,
  .posts-inner,
  .footer-inner {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .footer-inner {
    text-align: left;
  }
  .footer-item .icon,
  .footer-item .text {
    margin-left: 0;
  }
  .footer-item .tags-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .header-inner {
    padding-top: 3.2rem;
  }
  .header-inner .container {
    grid-template-columns: 545px auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - 32px);
    position: relative;
  }
  .header-inner-left {
    text-align: left;
  }
  .header-inner-left .text {
    margin-left: 0;
  }
  .header-inner-left .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .header-inner-right img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5rem;
  }
  .about-inner .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .about-left {
    text-align: left;
    margin-bottom: 0;
    font-size: 12px;
  }
  .about-left .section-head h2 {
    text-align: left;
  }
  .border-line {
    margin-left: 0;
  }
  .border-line::after {
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .about-right {
    margin-left: auto;
    margin-top: 11.2rem;
  }

  .banner-two .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .banner-two-right {
    text-align: left;
  }
  .banner-two-right .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .banner-two-right .lead {
    margin-top: 0;
  }
  .banner-two-left img {
    width: 100%;
    max-width: 100%;
  }
  .doc-panel-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .doc-panel-item {
    margin-bottom: 0;
  }
  .package-service-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .package-service-item {
    margin-bottom: 0;
  }

  .contact .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2.4rem;
    -moz-column-gap: 2.4rem;
    column-gap: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .navbar-show-btn,
  .navbar-hide-btn {
    display: none;
  }
  .navbar-collapse {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    margin: 0;
    margin-left: 3.5rem;
  }
  .nav-link {
    color: var(--light-color);
    opacity: 1;
    font-weight: 500;
    position: relative;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--light-color);
    opacity: 0;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-link:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    color: var(--light-color);
  }
  .nav-link:hover::after {
    opacity: 1;
    width: 100%;
  }
  .search-bar {
    margin-left: 5.5rem;
  }
  .search-inner-right {
    width: 100%;
  }
  .search-inner-right img {
    padding-left: 0;
    max-width: 647px;
  }
  .search-control {
    width: 150px;
  }
  .header-inner-right {
    width: 100%;
  }
  .header-inner-right img {
    padding-left: 0;
    max-width: 647px;
  }

  .services-inner {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
  .service-item {
    margin-bottom: 0;
  }
  .doc-panel-inner {
    -webkit-column-gap: 9rem;
    -moz-column-gap: 9rem;
    column-gap: 9rem;
  }
  .posts-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .post-item {
    margin-bottom: 0;
  }

  .contact .container {
    grid-template-columns: auto 514px;
  }
  .footer-inner {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
}

@media (min-width: 1480px) {
  /* general */
  .container {
    max-width: 81vw;
  }
}

/* transition and animation stopper */
.resize-animation-stopper * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* variables */
:root {
  --fros-blue-color: #c3e4e9;
  --light-blue-color: #ecc6bb;
  --dark-color: #dbd9d9;
  --light-gray: #dedede;
  --dark-gray: #a1a1a0;
  --light-color: #2d2b2b;
  --poppins-font: "Poppins", sans-serif;
  --transition: all 0.3s ease-in-out;
  --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2) !important;
}

/* some resets */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 1px solid; */
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: var(--poppins-font);
  overflow-x: hidden;
}
.nav-item.active a {
  color: #eb8888;
  /* Apply your desired styles for the active link */
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
.bg-blue {
  background-color: var(--fros-blue-color);
  height: 80px;
  /* border-bottom: #4a4949; */
}
.bg-white {
  background-color: var(--light-color);
}
.btn.btn-light-blue {
  background-color: #e78383;
}
.text-blue {
  color: var(--fros-blue-color);
}
.text-white {
  color: var(--light-color);
}

/* button */
.btn,
button {
  border: none;
  cursor: pointer;
}
.btn {
  padding: 0.9rem 4rem;
  border-radius: 3rem;
  display: inline-block;
  background-color: var(--light-color);
  font-weight: 500;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.btn-white {
  color: var(--fros-blue-color);
}
/* .btn.btn-white{
    color: #ecc6bb;
} */
.btn-light-blue {
  background-color: var(--light-blue-color);
  color: var(--light-color);
}
.btn-blue {
  background-color: var(--fros-blue-color);
  color: var(--light-color);
}
.btn-group {
  /* padding-left: 50px; */
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn-group .btn {
  width: 100%;
}
.btn.btnn-white {
  background-color: #c3e4e9;
  color: #2d2b2b;
}
.btn-group .btn:first-child {
  margin-bottom: 2rem;
}
.btn:hover {
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.grid {
  display: grid;
}
input {
  outline: 0;
}
.lead {
  font-size: 25px;
  text-transform: capitalize;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.3;
}
.text {
  opacity: 0.9;
}
.text-md {
  font-size: 1.6rem;
}
.text-lg {
  font-size: 17px;
  font-weight: 400;
}

.text-sm {
  font-size: 1.3rem;
}
.py {
  padding: 10.9rem 0;
}

.text-center {
  text-align: center;
}

/* header */
.header {
  min-height: 100vh;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.6rem 0;
  z-index: 999;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid rgb(149, 143, 143);
}
.navbar .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand img {
  width: 120px;
}
.navbar-show-btn,
.navbar-hide-btn {
  background-color: transparent;
  width: 30px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
button[class^="navbar"]:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 8rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 1000;
}
/* navbar show class */
.navbar-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navbar-hide-btn {
  position: absolute;
  right: 2rem;
  top: 4.5rem;
}
.nav-item {
  margin: 1.4rem 0;
}
.nav-link {
  opacity: 0.8;
  font-weight: 600;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
}
.nav-link:hover {
  opacity: 1;
  color: var(--fros-blue-color);
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.search-icon {
  display: block;
  width: 27px;
  margin-right: 1rem;
}
.search-control::-webkit-input-placeholder {
  color: var(--light-gray);
}
.search-control::-moz-placeholder {
  color: var(--light-gray);
}
.search-control:-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::placeholder {
  font-size: 12px;
  color: var(--light-gray);
}
.search-control {
  height: 27px;
  width: 100%;
  border-radius: 1.9rem;
  border: 1px solid #e78383;
  padding: 0 1.5rem;
}

/* header inner */
.header-inner {
  /* padding-top: 10rem; */
  margin-top: -30px;
}
.header-inner-left h1 {
  font-weight: 300;
  margin-bottom: 0;
}
.header-inner-left h1 span {
  font-size: 4.5rem;

  font-weight: 550;
  text-transform: uppercase;
  justify-content: center;
}
.header-inner-left .lead {
  opacity: 0.9;
}
.header-inner-left .text {
  margin: 5.8rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.header-inner-left .btn-group {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header-inner-right {
  margin-top: 6rem;
}
.header-inner-right img {
  max-width: 600px;
  margin: 0 auto;
  height: 430px;
  /* margin-top: -50px; */
  padding-bottom: 60px;
}

/* about section */

.section-head h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
.border-line {
  height: 0.4rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--fros-blue-color);
  position: relative;
}
.border-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  width: 102px;
  background-color: var(--light-blue-color);
}

.about {
  padding-top: 0.5rem;
  background-color: #faeeee;
  height: 500px;
}
.about-left {
  margin-bottom: 6rem;
}
.about-right {
  /* margin-top: 16.8rem; */
  height: 400px;
}
.about-left .text {
  margin: 2.6rem 0;
  line-height: 2.3;
  font-size: 16px;
}
.about .btn-white {
  color: var(--dark-gray);
  border-color: 1px solid #f7bcbc;
}
.about-right .img {
  width: 100%;
  /* background-color: #c3e4e9; */
  max-width: 537px;
  height: 490px;
  position: relative;
  /* padding-bottom: 40px; */
}
.about-right .img img {
  /* padding-top: 10rem; */
  -webkit-transform: scaleX(1.03);
  -ms-transform: scaleX(1.03);
  transform: scaleX(1.03);
}
.about-right .img::after,
.about-right .img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 400px;
}
.about-right .img::after {
  top: -56px;
  left: 0;
  /* background-color: #384e71; */
  z-index: -1;
}
.about-right .img::before {
  top: -112px;
  left: 0;
  /* background-color: var(--fros-blue-color); */
  z-index: -2;
}

/* banner one section */
.banner-one {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#9ddeedb3),
      to(#9ddeedbb)
    ),
    url("images/p4.png") top/cover no-repeat;
  background: -o-linear-gradient(rgba(244, 176, 176, 0.849), (#9ddeed66)),
    url("../images/banner-1-img.png") top/cover no-repeat;
  background: linear-gradient(rgba(247, 180, 180, 0.848), (#9ddeed42)),
    url("../images/banner-1-img.png") top/cover no-repeat;
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(195, 228, 233, 1)), to(rgba(195, 228, 233, 1))), url('../images/banner-1-img.png') top/cover no-repeat;
    background: -o-linear-gradient(rgb(217, 194, 194), rgba(195, 228, 233, 1)), url('../images/banner-1-img.png') top/cover no-repeat;
    background: linear-gradient(rgb(237, 214, 214), rgba(195, 228, 233, 1)), url('../images/banner-1-img.png') top/cover no-repeat; */
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.banner-one .lead {
  font-size: 2.8rem;
  font-weight: 500;
  max-width: 600px;
}
.banner-one .text-sm {
  font-weight: 500;
}

/* services section */

.services {
  padding-bottom: 0.1rem;
}
.services .section-head .text-lg {
  color: var(--dark-gray);
  margin-top: -0.5rem;
}
.services .section-head img {
  margin: 1rem auto;
}
.line-art {
  max-width: 240px;
  margin: auto;
}
.line-art img {
  width: 30px;
}
.line-art div {
  width: 100px;
  height: 2px;
  background-color: var(--light-gray);
}
.services-inner {
  padding: 6rem 0;
}
.service-item {
  padding: 3rem;
  /* margin-bottom: 1rem; */
}
.service-item:last-child {
  margin-bottom: 0;
}
.service-item .icon img {
  width: 80px;
  margin: auto;
}
.service-item h3 {
  margin: 5rem 0;
  opacity: 0.7;
}

/* banner two section */
.banner-two {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#9ddeedb3),
      to(#9ddeedbb)
    ),
    url("images/im.png") top/cover no-repeat;
  background: -o-linear-gradient(rgba(244, 176, 176, 0.849), (#9ddeed66)),
    url("../p4.png") top/cover no-repeat;
  background: linear-gradient(rgba(247, 180, 180, 0.848), (#9ddeed42)),
    url("../p4.png") top/cover no-repeat;
  padding: 8rem 0;
}
.banner-two-left img {
  max-width: 620px;
  height: 270px;
  margin: auto;
}
.banner-two-right .lead {
  font-size: 17px;
  margin-top: 6rem;
}

/* doctors panel */
.doc-panel-inner {
  margin-top: 2rem;
}
.doc-panel-item {
  margin-bottom: 6rem;
}
.doc-panel-item:last-child {
  margin-bottom: 0;
}
.doc-panel-item .img {
  position: relative;
  height: 440px;
  background-color: var(--light-gray);
  overflow: hidden;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.doc-panel-item .img .info {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.doc-panel-item .img {
  max-width: 357px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.doc-panel-item:hover .info {
  bottom: 0;
}

/* contact section */
.contact-left {
  margin-bottom: 1rem;
  height: 350px;
}
.contact-left iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.contact .lead {
  margin: 30px;
}

/* footer */
.footer {
  background-color: var(--fros-blue-color);
}
.footer-item {
  margin-bottom: 0.5rem;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.footer-head {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.footer-item .icon {
  width: 120px;
  margin: auto;
}
.footer-item .text {
  padding: 2rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.footer-item address {
  font-size: 1.5rem;
  font-style: normal;
}
.footer-item .tags-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-item .tags-list li {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  /* background-color: rgb(58, 58, 58); */
  border-radius: 0.4rem;
}
.footer-item a {
  margin-bottom: 1rem;
  display: inline-block;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.footer-item a:hover {
  color: var(--light-blue-color);
}
.footer-item:last-child .text {
  padding-top: 0;
}
.footer-item .appointment-info li {
  margin: 1rem 0;
}
.footer-item .appointment-info li span {
  margin-left: 1rem;
}
.footer-links {
  border-top: 2px solid var(--dark-gray);
  padding: 2.5rem 0;
  margin-top: -100px;
}
.footer-links li {
  margin: 0 2rem;
  font-size: 2rem;
}
.footer-links li a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--light-color);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.footer-links li a:hover {
  background-color: var(--light-color);
  color: var(--fros-blue-color);
}
.smallDiv {
  background-color: rgba(0, 0, 0, 0.68);
  color: white;
  /* padding-top: 5px; */
  text-align: center;
  font-size: 14px;
  height: 30px;
  width: 100%;
}

/* Media Queries */
@media (min-width: 450px) {
  .navbar-collapse {
    width: 320px;
  }
  .btn-group .btn {
    width: auto;
  }
  .btn-group .btn:first-child {
    margin-right: 48px;
    margin-bottom: 0;
  }
  .border-line {
    width: 405px;
  }
  .btn.btn-group {
    padding-bottom: 50px;
  }
}

@media (max-width: 412px) {
  .header {
    height: 800px;
  }
  .section-head h2 {
    margin-top: 10rem;
  }
  .header-inner {
    padding-top: 70px;
  }
  .services {
    margin-top: -15rem;
  }
  .header-inner-right img {
    height: auto;
  }
  .about-left .text {
    margin: 2.6rem 0;
    line-height: 2.3;
    font-size: 10px;
  }
  .about-right .img {
    width: 100%;
    /* background-color: #c3e4e9; */
    max-width: 537px;
    height: 1690px;
    position: relative;
    /* padding-bottom: 40px; */
  }
  .banner-two-right .lead {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
    font-style: normal;
  }
  .smallDiv {
    font-size: 8px;
    height: auto;
    padding-bottom: 5px;
  }
  .doc-panel {
    padding-top: 0.1px;
  }
  .contact {
    padding-top: 0.1px;
  }
}

@media (max-width: 414px) {
  .header {
    height: 800px;
  }
  .section-head h2 {
    margin-top: 10rem;
  }
  .header-inner {
    padding-top: 70px;
  }
  .services {
    margin-top: -15rem;
  }
  .header-inner-right img {
    height: auto;
  }
  .about-left .text {
    margin: 2.6rem 0;
    line-height: 2.3;
    font-size: 10px;
  }
  .about-right .img {
    width: 100%;
    /* background-color: #c3e4e9; */
    max-width: 537px;
    height: 1690px;
    position: relative;
    /* padding-bottom: 40px; */
  }
  .banner-two-right .lead {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
    font-style: normal;
  }
  .smallDiv {
    font-size: 8px;
    height: auto;
    padding-bottom: 5px;
  }
  .doc-panel {
    padding-top: 0.1px;
  }
  .contact {
    padding-top: 0.1px;
  }
}

/* ---------------------------------------------------------- */
/* Media Queries */

@media (max-width: 360px) {
  .header-inner {
    padding-top: 70px;
  }
  .header-inner-right img {
    height: 350px;
    padding-bottom: 160px;
  }
  .services {
    margin-top: -15rem;
  }
  .header-inner-left h1 span {
    display: block;
  }
  .section-head h2 {
    font-size: 25px;
  }
  .header-inner-left p.text-md {
    margin-top: 15px;
  }
  .about-right img {
    height: 250px;
  }
  .footer-inner {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px 0;
  }

  .footer-item {
    text-align: center;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .footer-links {
    margin-top: 10px;
  }

  .footer-links ul {
    justify-content: center;
  }

  .services .services-inner {
    gap: 2rem;
  }

  .about .container.grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .doc-panel .doc-panel-inner {
    gap: 2rem;
  }

  .banner-two .container.grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contact .container.grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 375px) {
  .header-inner {
    padding-top: 70px;
  }
  .header-inner-right img {
    height: 350px;
    padding-bottom: 200px;
  }
  .services {
    margin-top: -15rem;
  }
  .header-inner-left h1 span {
    display: block;
  }
  .header-inner-left p.text-md {
    margin-top: 15px;
  }
}

/* ---------------------------------------------------------------------------- */

@media (min-width: 768px) {
  .header-inner-left h1 {
    padding-top: 0.5rem;
    font-size: 4.7rem;
  }
  .services-inner,
  .doc-panel-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .doc-panel-inner {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .doc-panel .section-head h2 {
    text-align: left;
  }
  .package-service-inner,
  .posts-inner,
  .footer-inner {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .footer-inner {
    text-align: left;
  }
  .footer-item .icon,
  .footer-item .text {
    margin-left: 0;
  }
  .footer-item .tags-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .header-inner {
    padding-top: 3.2rem;
  }
  .header-inner .container {
    grid-template-columns: 545px auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - 32px);
    position: relative;
  }
  .header-inner-left {
    text-align: left;
  }
  .header-inner-left .text {
    margin-left: 0;
  }
  .header-inner-left .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .header-inner-right img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5rem;
  }
  .about-inner .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .about-left {
    text-align: left;
    margin-bottom: 0;
    font-size: 12px;
  }
  .about-left .section-head h2 {
    text-align: left;
  }
  .border-line {
    margin-left: 0;
  }
  .border-line::after {
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .about-right {
    margin-left: auto;
    margin-top: 11.2rem;
  }

  .banner-two .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .banner-two-right {
    text-align: left;
  }
  .banner-two-right .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .banner-two-right .lead {
    margin-top: 0;
  }
  .banner-two-left img {
    width: 100%;
    max-width: 100%;
  }
  .doc-panel-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .doc-panel-item {
    margin-bottom: 0;
  }
  .package-service-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .package-service-item {
    margin-bottom: 0;
  }

  .contact .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2.4rem;
    -moz-column-gap: 2.4rem;
    column-gap: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .navbar-show-btn,
  .navbar-hide-btn {
    display: none;
  }
  .navbar-collapse {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    margin: 0;
    margin-left: 3.5rem;
  }
  .nav-link {
    color: var(--light-color);
    opacity: 1;
    font-weight: 500;
    position: relative;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--light-color);
    opacity: 0;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-link:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    color: var(--light-color);
  }
  .nav-link:hover::after {
    opacity: 1;
    width: 100%;
  }
  .search-bar {
    margin-left: 5.5rem;
  }
  .search-inner-right {
    width: 100%;
  }
  .search-inner-right img {
    padding-left: 0;
    max-width: 647px;
  }
  .search-control {
    width: 150px;
  }
  .header-inner-right {
    width: 100%;
  }
  .header-inner-right img {
    padding-left: 0;
    max-width: 647px;
  }

  .services-inner {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
  .service-item {
    margin-bottom: 0;
  }
  .doc-panel-inner {
    -webkit-column-gap: 9rem;
    -moz-column-gap: 9rem;
    column-gap: 9rem;
  }
  .posts-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .post-item {
    margin-bottom: 0;
  }

  .contact .container {
    grid-template-columns: auto 514px;
  }
  .footer-inner {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
}

@media (min-width: 1480px) {
  /* general */
  .container {
    max-width: 81vw;
  }
}

/* transition and animation stopper */
.resize-animation-stopper * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
