/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgb(146, 216, 244);
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --grey: #808080;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.container .navigation img {
  height: 100px;
  width: 90px;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: rgb(146, 216, 244);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: white;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--black1);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: white;
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.logo {
  border-radius: 150%;
  padding: 11px;
  padding-bottom: 17px;
  padding-top: 17px;
  margin-right: 0px;
  margin-left: -15%;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.user-text {
  position: absolute;
  text-align: right;
  margin-left: 92%;
}
.icon1 ion-icon {
  position: absolute;
  font-size: 1.75rem;
  top: 15px;
  margin-left: 40%;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

* {
  margin: 0;
  padding: 0;
}

/* styling for card */
.card {
  /* box-shadow: 0 4px 8px 0 rgb(45, 48, 45); */
  max-width: 90%;
  margin: auto;
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap-reverse; */
  /* flex-flow: row wrap-reverse; */
  /* flex-flow: row wrap-reverse; */

  justify-content: left;
  align-items: center;
}
/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  grid-gap: 30px;
  /* margin-top: 10px; */
}

/* ============notification=================== */
body {
  background-color: cornflowerblue;
}
.notification-container {
  background-color: rgb(146, 216, 244);
  margin: 50px;
  padding: 10px;
  border-radius: 2%;
  width: 80%;
}
h3 {
  margin-left: 5%;
}

@media (max-width: 390px) {
  .notification-container .notification-img {
    height: 50px;
    width: 50px;
    margin-top: -10px;
  }
}

/* /////////// */

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: #c0e4ec;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentCustomers table tr {
  background-color: white;
  /* padding: 10px; */
  border-radius: 10px;
  border: #222;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}
table,
th,
td {
  /* border: 1px solid black; */
  /* border-collapse: collapse; */
  border-spacing: 0 20px;
}    

td:first-child,
th:first-child {
  border-radius: 20px 0 0 20px;
}
td:last-child,
th:last-child {
  border-radius: 0 20px 20px 0;
}
/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }

  .user-text {
    position: absolute;
    margin-left: 88%;
  }

  .icon1 ion-icon {
    position: absolute;
    margin-left: 35%;
  }

  .notification-container {
    font-size: 10px;
  }
  .notification-container .notification-img {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
  .user-text {
    margin-left: 70%;
  }
  .icon1 ion-icon {
    margin-left: 10%;
  }
}

@media (max-width: 390px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
  .user-text {
    margin-left: 60%;
  }
  .icon1 ion-icon {
    margin-left: 5%;
  }
  .notification-container .notification-img {
    height: 50px;
    width: 50px;
  }
}
