* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* border: 1px solid black; */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: #444; */
}

.container {
  position: relative;
  width: 80vw;
  height: 85vh;
  background: #8cd2e9;
  border-radius: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3),
    0 6px 20px 0 rgba(186, 184, 184, 0.3);
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: #eb8888;
  z-index: 6;
  transform: translateX(100%);
  transition: 1s ease-in-out;
}

.signin-signup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  min-width: 238px;
  padding: 0 10px;
}

form.sign-in-form {
  opacity: 1;
  transition: 0.5s ease-in-out;
  transition-delay: 1s;
}

form.sign-up-form {
  opacity: 0;
  transition: 0.5s ease-in-out;
  transition-delay: 1s;
}

.sign-in-form .title {
  font-size: 35px;
  color: #ec6a6a;
  /* margin-bottom: 10px; */
  font-weight: 500px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.sign-up-form .title {
  font-size: 35px;
  color: #ec6a6a;
  margin-bottom: 10px;
  font-weight: 500px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  height: 48px;
  background: white;
  margin: 10px 0;
  /* border: 2px solid #eb8888; */
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.input-field i {
  flex: 1;
  text-align: center;
  color: #13728d;
  font-size: 18px;
}

.input-field input {
  flex: 5;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  /* color: #444; */
}
.input-field .Usertype {
  flex: 5;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #575656;
  margin-left: -20px;
}

.btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: #eb8888;
  color: black;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 40px;
  font-size: 15px;
}

.btn2 {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: #eb8888;
  color: black;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  font-size: 15px;
  opacity: 0;
}

.content #sign-in-btn {
  background: #8cd2e9;
  color: black;
  margin-top: 40px;
}

.content #sign-up-btn {
  background: #8cd2e9;
  color: black;
  margin-top: 10px;
}

.btn:hover {
  background: #df6f67;
}

.social-text {
  margin: 10px 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.panels-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  min-width: 238px;
  padding: 0 10px;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: none;
}

.content {
  transition: 1.1s ease-in-out;
  transition-delay: 0.5s;
}

.panel h3 {
  color: #13728d;

  font-size: 34px;
  font-weight: 600;
}

.panel p {
  font-family: "Inria Serif";
  font-style: normal;
  font-weight: 530;
  font-size: 15px;
  line-height: 32px;
  margin-top: 10px;
  color: #000000;
}

.image {
  width: 100%;
  transition: 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.left-panel .image,
.left-panel .content {
  transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content {
  transform: translateX(0);
}

.account-text {
  opacity: 0;
}

/*Animation*/

.container.sign-up-mode::before {
  transform: translateX(0);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(200%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
}

.container.sign-up-mode .right-panel {
  pointer-events: none;
}

.container.sign-up-mode .left-panel {
  pointer-events: all;
}

.input-field.error input {
  border-color: red;
}
.input-field.success input {
  border-color: #4bb543;
}
.input-field small {
  color: #b00020;
}
small {
  margin-top: 60px;
}

/*Responsive*/
/* set height to 300px for screens smaller than 768px */
@media (max-width: 1100px) {
  .container {
    position: relative;
    width: 92vw;
    height: 88vh;
    background: #8cd2e9;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3),
      0 6px 20px 0 rgba(186, 184, 184, 0.3);
    overflow: hidden;
  }
}

/* set height to 300px for screens smaller than 768px */
@media only screen and (max-width: 600px) {
  * {
    font-size: 14px;
  }
  form {
    width: 100%;
  }
  .container {
    margin-top: -50px;
  }

  .container.sign-up-mode {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .sign-in-form {
    max-width: 100%;
  }
  .panel {
    opacity: 0;
  }
  .sign-up-form {
    margin-right: -100%;
    background-color: transparent;
    /* width: 400px; */
  }

  /* .panels-container {
    position: absolute;

    display: block;
  } */

  /* .panel {
    display: block;
  } */

  .container::before {
    opacity: 0;
  }
  .btn2 {
    opacity: 1;
  }
  .account-text {
    opacity: 1;
  }

  .social-text {
    margin-top: -7px;
  }
  .btn,
  .btn2 {
    width: 300px;
  }
  .btn2 {
    color: #000000;
    text-decoration: none;
  }
  .btn2:hover {
    background: #df6f67;
  }
}
